/**
 * Awesome icon theme for ovidentia.
 * Based on the Font Awesome ( Font Awesome by Dave Gandy - http://fontawesome.io )
 * @license http://opensource.org/licenses/gpl-license.php GNU General Public License (GPL)
 * @copyright Copyright (c) 2008 by CANTICO ({@link http://www.cantico.fr})
 */

/*  

@font-face {
  font-family: 'FontAwesome';
  
  src: url('fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');

  src: url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?v=4.7.0');
  src: url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.eot?#iefix&v=4.7.0') format('embedded-opentype'), url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.woff?v=4.7.0') format('woff'), url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.ttf?v=4.7.0') format('truetype'), url('//netdna.bootstrapcdn.com/font-awesome/4.7.0/fonts/fontawesome-webfont.svg?v=4.7.0#fontawesomeregular') format('svg');

  font-weight: normal;
  font-style: normal;
}
*/  

@-webkit-keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}
@keyframes icon-spin {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(359deg);
    transform: rotate(359deg);
  }
}

.icon-left .icon:before {
    display: inline-block;
    white-space: nowrap;
    line-height: 1;
}

.icon-left-48 .icon, .icon-left-48 .icon:empty {
    min-width: 0;
    padding: 4px;
}
.icon-left-48 .icon:before {
    min-width: 60px;
}

.icon-left-32 .icon, .icon-left-32 .icon:empty {
    min-width: 0;
    padding: 4px;
}
.icon-left-32 .icon:before {
    min-width: 40px; 
}

.icon-left-24 .icon, .icon-left-24 .icon:empty {
    min-width: 0;
    padding: 4px;
}
.icon-left-24 .icon:before {
    min-width: 30px;
}

.icon-left-16 .icon, .icon-left-16 .icon:empty,
.icon-left-symbolic .icon, .icon-left-symbolic .icon:empty{
    min-width: 0;
    padding: 4px;
}
.icon-left .icon:empty::before {
	text-align: center;
}

.icon-left-16 .icon:before,
.icon-left-symbolic .icon:before {
    min-width: 20px;
}


.icon-top-48 .icon {
	padding: 4px;
}
.icon-top-32 .icon {
	padding: 4px;
}
.icon-top-24 .icon {
	padding: 4px;
}
.icon-top-16 .icon,
.icon-top-symbolic .icon {
	padding: 4px;
}
.icon-48x48 .icon,
.icon-32x32 .icon,
.icon-24x24 .icon,
.icon-16x16 .icon,
.icon-symbolic .icon {
	background-image: none;
}

.icon-48x48 .icon:before {
    font: 42px FontAwesome;
}
.icon-32x32 .icon:before {
    font: 28px FontAwesome;
}
.icon-24x24 .icon:before {
    font: 22px FontAwesome;
}
.icon-16x16 .icon:before,
.icon-symbolic .icon:before  {
    font: 14px FontAwesome;
}
.icon-top .icon:before {	
    display: block;
}

.icon:before {
    content: "\00A0";
    text-align: center;
}

.icon-left .icon::before {
    vertical-align: middle;
    text-align: left;
}

 
.no-icon:before {
    content: "";
}
.no-icon {
    background-image: none !important;
}

.no-icons .icon:before {
    content: "" !important;
}




/**
 * Higher priority if "icon-NxN" and "icon-left"/"icon-top" on same element as "icon" class.
 */
.icon-left.icon:before {
    display: inline-block;
    white-space: nowrap;
    line-height: 1;
}

.icon-left-48.icon, .icon-left-48 .icon:empty {
    min-width: 0;
    padding: 4px;
}
.icon-left-48.icon:before {
    min-width: 60px;
}

.icon-left-32.icon, .icon-left-32 .icon:empty {
    min-width: 0;
    padding: 4px;
}
.icon-left-32.icon:before {
    min-width: 40px; 
}

.icon-left-24.icon, .icon-left-24 .icon:empty {
    min-width: 0;
    padding: 4px;
}
.icon-left-24.icon:before {
    min-width: 30px;
}

.icon-left-16.icon,
.icon-left-16.icon:empty,
.icon-left-symbolic.icon,
.icon-left-symbolic.icon:empty{
    min-width: 0;
    padding: 4px;
}
.icon-left.icon:empty::before {
    text-align: center;
}

.icon-left-16.icon:before,
.icon-left-symbolic.icon:before {
    min-width: 20px;
}

.icon-top-48.icon {
    padding: 4px;
}
.icon-top-32.icon {
    padding: 4px;
}
.icon-top-24.icon {
    padding: 4px;
}
.icon-top-16.icon,
.icon-top-symbolic.icon {
    padding: 4px;
}
.icon-48x48.icon,
.icon-32x32.icon,
.icon-24x24.icon,
.icon-16x16.icon,
.icon-symbolic.icon {
    background-image: none;
}

.icon-48x48.icon:before {
    font: 42px FontAwesome;
}
.icon-32x32.icon:before {
    font: 28px FontAwesome;
}
.icon-24x24.icon:before {
    font: 22px FontAwesome;
}
.icon-16x16.icon:before,
.icon-symbolic.icon:before  {
    font: 14px FontAwesome;
}
.icon-top.icon:before {    
    display: block;
}



.icon.actions-help:before		{ content: "\f059"; }
.icon.actions-folder-new:before		{ content: "\f07b"; }
.icon.actions-document-new:before		{ content: "\f0fe"; }
.icon.actions-document-print:before		{ content: "\f02f"; }
.icon.actions-document-edit:before		{ content: "\f040"; }
.icon.actions-document-properties:before		{ content: "\f013"; }
.icon.actions-document-save:before		{ content: "\f0c7"; }
.icon.actions-document-download:before		{ content: "\f019"; }
.icon.actions-document-upload:before		{ content: "\f093"; }
.icon.actions-article-category-new:before		{ content: "\f0fe"; }
.icon.actions-article-topic-new:before		{ content: "\f0fe"; }
.icon.actions-article-new:before		{ content: "\f0fe"; }
.icon.actions-event-new:before		{ content: "\f271"; }
.icon.actions-note-new:before		{ content: '\f24a'; }
.icon.actions-user-new:before		{ content: "\f234"; }
.icon.actions-user-group-new:before		{ content: "\f0fe"; }
.icon.actions-edit-find:before		{ content: "\f002"; }
.icon.actions-edit-find-user:before		{ content: "\f002"; }
.icon.actions-edit-copy:before		{ content: "\f0c5"; }
.icon.actions-edit-cut:before		{ content: "\f0c4"; }
.icon.actions-edit-paste:before		{ content: "\f0ea"; }
.icon.actions-edit-delete:before		{ content: "\f1f8"; }
.icon.actions-user-properties:before        { content: "\f2bd"; }
.icon.actions-user-group-properties:before      { content: "\f0c0"; }
.icon.actions-user-group-delete:before		{ content: "\f1f8"; }
.icon.actions-mail-send:before		{ content: "\f0e0"; }
.icon.actions-set-access-rights:before		{ content: "\f084"; }
.icon.actions-list-filter:before       { content: "\f0b0"; }
.icon.actions-list-add:before		{ content: "\f067"; }
.icon.actions-list-add-user:before		{ content: "\f234"; }
.icon.actions-list-remove:before		{ content: "\f068"; }
.icon.actions-list-remove-user:before		{ content: "\f235"; }
.icon.actions-go-home:before		{ content: "\f015"; }
.icon.actions-go-up:before		{ content: "\f077"; }
.icon.actions-go-down:before		{ content: "\f078"; }
.icon.actions-go-first:before		{ content: "\f049"; }
.icon.actions-go-last:before		{ content: "\f050"; }
.icon.actions-go-next:before		{ content: "\f051"; }
.icon.actions-go-previous:before		{ content: "\f048"; }
.icon.actions-arrow-down:before		{ content: "\f063"; }
.icon.actions-arrow-up:before		{ content: "\f062"; }
.icon.actions-arrow-left:before		{ content: "\f060"; }
.icon.actions-arrow-right:before		{ content: "\f061"; }
.icon.actions-arrow-down-double:before		{ content: "\f103"; }
.icon.actions-arrow-up-double:before		{ content: "\f102"; }
.icon.actions-arrow-left-double:before		{ content: "\f100"; }
.icon.actions-arrow-right-double:before		{ content: "\f101"; }
.icon.actions-context-menu:before     { content: "\f141"; }
.icon.actions-view-list-details:before		{ content: "\f022"; }
.icon.actions-view-list-text:before		{ content: "\f03a"; }
.icon.actions-view-list-tree:before		{ content: "\f0e8"; -webkit-transform: rotate(-90deg) translate(2px, -3px); transform: rotate(-90deg) translate(2px, -3px); }
.icon.actions-view-list-cards:before      { content: "\f009"; }
.icon.actions-view-calendar-list:before		{ content: "\f022"; }
.icon.actions-view-calendar-day:before		{ content: "\f133"; }
.icon.actions-view-calendar-week:before		{ content: "\f133"; }
.icon.actions-view-calendar-workweek:before		{ content: "\f133"; }
.icon.actions-view-calendar-month:before		{ content: "\f073"; }
.icon.actions-view-calendar-timeline:before		{ content: "\f1de"; }
.icon.actions-view-pim-calendar:before		{ content: "\f073"; }
.icon.actions-view-pim-journal:before		{ content: "\f1ea"; }
.icon.actions-view-pim-mail:before		{ content: "\f003"; }
.icon.actions-view-pim-news:before		{ content: "\f1ea"; }
.icon.actions-view-pim-notes:before		{ content: "\f24a"; }
.icon.actions-view-pim-summary:before		{ content: "\f1ea"; }
.icon.actions-view-pim-tasks:before		{ content: "\f0ae"; }
.icon.actions-view-history:before		{ content: "\f1da"; }
.icon.actions-view-refresh:before		{ content: "\f021"; }
.icon.actions-zoom-in:before		{ content: "\f00e"; }
.icon.actions-zoom-out:before		{ content: "\f010"; }
.icon.actions-zoom-original:before		{ content: "\f096"; }
.icon.actions-zoom-fit-best:before		{ content: "\f0b2"; }
.icon.actions-zoom-fit-width:before		{ content: "\f07e"; }
.icon.actions-zoom-fit-height:before		{ content: "\f07d"; }
.icon.actions-dialog-ok:before		{ content: "\f00c"; }
.icon.actions-dialog-cancel:before		{ content: "\f00d"; }
.icon.actions-archive-create:before		{ content: "\f090"; }
.icon.actions-archive-extract:before		{ content: "\f08b"; }
.icon.actions-authenticate:before		{ content: "\f084"; }
.icon.actions-login:before		{ content: "\f090"; }
.icon.actions-logout:before		{ content: "\f08b"; }
.icon.actions-share:before     { content: "\f1e0"; }
.icon.actions-comment:before     { content: "\f075"; }

.icon.apps-calendar:before		{ content: "\f073"; }
.icon.apps-directories:before		{ content: "\f02d"; }
.icon.apps-file-manager:before		{ content: "\f07c"; }
.icon.apps-notes:before		{ content: "\f24a"; }
.icon.apps-statistics:before		{ content: "\f200"; }
.icon.apps-mail:before		{ content: "\f003"; }
.icon.apps-vacations:before		{ content: "\f0f2"; }
.icon.apps-articles:before		{ content: "\f1ea"; }
.icon.apps-forums:before		{ content: "\f086"; }
.icon.apps-orgcharts:before		{ content: "\f0e8"; }
.icon.apps-summary:before		{ content: "\f1ea"; }
.icon.apps-faqs:before		{ content: "\f059"; }
.icon.apps-task-manager:before		{ content: "\f0ae"; }
.icon.apps-approbations:before		{ content: "\f0e3"; }
.icon.apps-contacts:before		{ content: "\f0c0"; }
.icon.apps-thesaurus:before		{ content: "\f02d"; }
.icon.apps-sections:before		{ content: "\f0db"; }
.icon.apps-delegations:before		{ content: "\f085"; }
.icon.apps-calculator:before		{ content: "\f1ec"; }
.icon.apps-editor:before		{ content: "\f044"; }
.icon.apps-photo:before		{ content: "\f030"; }
.icon.apps-users:before		{ content: "\f007"; }
.icon.apps-groups:before		{ content: "\f0c0"; }
.icon.apps-sitemap:before		{ content: "\f0e8"; }
.icon.apps-form:before		{ content: "\f046"; }
.icon.apps-shop:before		{ content: "\f07a"; }
.icon.apps-catalog:before		{ content: "\f02d"; }
.icon.apps-crm:before		{ content: "\f1b3"; }
.icon.apps-multimedia:before		{ content: "\f144"; }
.icon.apps-portlet:before		{ content: "\f009"; }
.icon.apps-preferences-site:before		{ content: "\f0ac"; }
.icon.apps-preferences-user:before		{ content: "\f007"; }
.icon.apps-preferences-authentication:before		{ content: "\f084"; }
.icon.apps-preferences-search-engine:before		{ content: "\f002"; }
.icon.apps-preferences-webservices:before		{ content: "\f0e7"; }
.icon.apps-preferences-date-time-format:before		{ content: "\f017"; }
.icon.apps-preferences-calendar:before		{ content: "\f022"; }
.icon.apps-preferences-mail-server:before		{ content: "\f0e0"; }
.icon.apps-preferences-wysiwyg-editor:before		{ content: "\f044"; }
.icon.apps-preferences-upload:before		{ content: "\f093"; }
.icon.apps-facebook:before		{ content: "\f082"; }
.icon.apps-flickr:before		{ content: "\f16e"; }
.icon.apps-twitter:before		{ content: "\f099"; }
.icon.apps-rss:before		{ content: "\f143"; }
.icon.apps-viadeo:before       { content: "\f2a9"; }
.icon.apps-linkedin:before       { content: "\f0e1"; }
.icon.apps-pinterest:before       { content: "\f231"; }
.icon.apps-googleplus:before       { content: "\f0d5"; }

.icon.mimetypes-application-pdf:before		{ content: "\f1c1"; color: #a00; opacity:0.5 }
.icon.mimetypes-audio-x-generic:before		{ content: "\f1c7"; color: #555; opacity:0.5 }
.icon.mimetypes-text-x-generic:before		{ content: "\f0f6"; color: #555; opacity:0.5 }
.icon.mimetypes-image-x-generic:before		{ content: "\f1c5"; color: #555; opacity:0.5 }
.icon.mimetypes-video-x-generic:before		{ content: "\f1c8"; color: #555; opacity:0.5 }
.icon.mimetypes-package-x-generic:before		{ content: "\f1c6"; color: #770; opacity:0.5 }
.icon.mimetypes-text-html:before		{ content: "\f1c9"; color: #555; opacity:0.5 }
.icon.mimetypes-unknown:before		{ content: "\f016"; color: #555; opacity:0.5 }
.icon.mimetypes-signature:before		{ content: "\f044"; color: #555; opacity:0.5 }
.icon.mimetypes-x-office-document:before		{ content: "\f1c2"; color: #00c; opacity:0.5 }
.icon.mimetypes-x-office-presentation:before		{ content: "\f1c4"; color: #a50; opacity:0.5 }
.icon.mimetypes-x-office-spreadsheet:before		{ content: "\f1c3"; color: #090; opacity:0.5 }

.icon.objects-user:before		{ content: "\f007"; }
.icon.objects-group:before		{ content: "\f0c0"; }
.icon.objects-manager:before      { content: "\f27e"; }
.icon.objects-publication-article:before		{ content: "\f1ea"; }
.icon.objects-publication-topic:before		{ content: "\f02e"; }
.icon.objects-publication-category:before		{ content: "\f097"; }
.icon.objects-invoice:before		{ content: "\f15c"; }
.icon.objects-contract:before		{ content: "\f0b1"; }
.icon.objects-contact:before		{ content: "\f007"; }
.icon.objects-organization:before		{ content: "\f1ad"; }
.icon.objects-tag:before		{ content: "\f02b"; }
.icon.objects-note:before		{ content: "\f24a"; }
.icon.objects-email:before		{ content: "\f1fa"; }
.icon.objects-shopping-cart:before		{ content: "\f07a"; }
.icon.objects-product:before		{ content: "\f187"; }
.icon.objects-product-category:before		{ content: "\f097"; }
.icon.objects-resource:before		{ content: "\f1b2"; }
.icon.objects-resource-category:before		{ content: "\f009"; }
.icon.objects-waiting-item:before		{ content: "\f017"; }
.icon.objects-factory:before       { content: "\f275"; }
.icon.objects-phone:before       { content: "\f095"; }
.icon.objects-mobile:before       { content: "\f10b"; }
.icon.objects-map-marker:before       { content: "\f041"; }
.icon.objects-address-book:before       { content: "\f2ba"; }
.icon.objects-book:before       { content: "\f02d"; }
.icon.objects-laptop:before       { content: "\f109"; }
.icon.objects-desktop:before       { content: "\f108"; }

.icon.places-folder:before		{ content: "\f114"; color: #05a; opacity:0.5 }
.icon.places-folder-red:before		{ content: "\f07b"; color: #a00; opacity:0.5 }
.icon.places-folder-bookmarks:before		{ content: "\f02e"; }
.icon.places-user-home:before		{ content: "\f015"; }
.icon.places-user-trash:before		{ content: "\f1f8"; color: #555; opacity:0.5 }
.icon.places-user-applications:before		{ content: "\f135"; }
.icon.places-administrator-home:before		{ content: "\f015"; }
.icon.places-administrator-applications:before		{ content: "\f0ad"; }
.icon.places-mail-folder-inbox:before		{ content: "\f01c"; }

.icon.categories-applications-education:before		{ content: "\f19d"; }
.icon.categories-preferences-desktop:before		{ content: "\f108"; }
.icon.categories-preferences-other:before		{ content: "\f0ad"; }

.icon.status-dialog-error:before		{ content: "\f057"; }
.icon.status-dialog-information:before		{ content: "\f129"; }
.icon.status-dialog-password:before		{ content: "\f084"; }
.icon.status-dialog-question:before		{ content: "\f059"; }
.icon.status-dialog-warning:before		{ content: "\f071"; }
.icon.status-content-loading:before		{ content: "\f021"; -webkit-animation: icon-spin 2s infinite linear; animation: 2s linear 0s normal none infinite icon-spin; text-align: center; }





.icons-awesome .icon-left-48 .icons-awesome .icon, .icons-awesome .icon-left-48 .icons-awesome .icon:empty {
    min-width: 0;
    padding: 4px;
}
.icons-awesome .icon-left-32 .icons-awesome .icon, .icons-awesome .icon-left-32 .icons-awesome .icon:empty {
    min-width: 0;
    padding: 4px;
}
.icons-awesome .icon-left-24 .icons-awesome .icon, .icons-awesome .icon-left-24 .icons-awesome .icon:empty {
    min-width: 0;
    padding: 4px;
}
.icons-awesome .icon-left-16 .icons-awesome .icon, .icons-awesome .icon-left-16 .icons-awesome .icon:empty,
.icons-awesome .icon-left-symbolic .icons-awesome .icon, .icons-awesome .icon-left-symbolic .icons-awesome .icon:empty{
    min-width: 0;
    padding: 4px;
}
.icons-awesome .icon-left-16 .icons-awesome .icon:before,
.icons-awesome .icon-left-symbolic .icons-awesome .icon:before {
    display: inline-block;
    letter-spacing: 5px;
    min-width: 20px;
    white-space: nowrap;
}


.icons-awesome .icon-top-48 .icons-awesome .icon {
    min-width: 52px;
    padding: 4px;
}
.icons-awesome .icon-top-32 .icons-awesome .icon {
    min-width: 36px;
    padding: 4px;
}
.icons-awesome .icon-top-24 .icons-awesome .icon {
    min-width: 26px;
    padding: 4px;
}
.icons-awesome .icon-top-16 .icons-awesome .icon,
.icons-awesome .icon-top-symbolic .icons-awesome .icon {
    min-width: 20px;
    padding: 4px;
}
.icons-awesome .icon-48x48 .icons-awesome .icon,
.icons-awesome .icon-32x32 .icons-awesome .icon,
.icons-awesome .icon-24x24 .icons-awesome .icon,
.icons-awesome .icon-16x16 .icons-awesome .icon,
.icons-awesome .icon-symbolic .icons-awesome .icon {
    background-image: none;
}

.icons-awesome .icon-48x48 .icons-awesome .icon:before {
    font: 42px FontAwesome;
}
.icons-awesome .icon-32x32 .icons-awesome .icon:before {
    font: 28px FontAwesome;
}
.icons-awesome .icon-24x24 .icons-awesome .icon:before {
    font: 21px FontAwesome;
}
.icons-awesome .icon-16x16 .icons-awesome .icon:before,
.icons-awesome .icon-symbolic .icons-awesome .icon:before  {
    font: 14px FontAwesome;
}
.icons-awesome .icon-top .icons-awesome .icon:before {    
    display: block;
}

.icons-awesome .icon:before {
    content: "\00A0";
    text-align: center;
}

.no-icon::before {
    content: "";
}
.no-icon {
    background-image: none !important;
}

.icons-awesome .icon-left .icons-awesome .icon::before {
    vertical-align: middle;
}





// Same rules with higher priority if under "icons-awesome" class

.icons-awesome .icon.actions-help:before       { content: "\f059"; }
.icons-awesome .icon.actions-folder-new:before     { content: "\f07b"; }
.icons-awesome .icon.actions-document-new:before       { content: "\f0fe"; }
.icons-awesome .icon.actions-document-print:before     { content: "\f02f"; }
.icons-awesome .icon.actions-document-edit:before      { content: "\f040"; }
.icons-awesome .icon.actions-document-properties:before        { content: "\f013"; }
.icons-awesome .icon.actions-document-save:before      { content: "\f0c7"; }
.icons-awesome .icon.actions-document-download:before      { content: "\f019"; }
.icons-awesome .icon.actions-document-upload:before        { content: "\f093"; }
.icons-awesome .icon.actions-article-category-new:before       { content: "\f0fe"; }
.icons-awesome .icon.actions-article-topic-new:before      { content: "\f0fe"; }
.icons-awesome .icon.actions-article-new:before        { content: "\f0fe"; }
.icons-awesome .icon.actions-event-new:before      { content: "\f271"; }
.icons-awesome .icon.actions-note-new:before       { content: '\f24a'; }
.icons-awesome .icon.actions-user-new:before       { content: "\f234"; }
.icons-awesome .icon.actions-user-group-new:before     { content: "\f0fe"; }
.icons-awesome .icon.actions-edit-find:before      { content: "\f002"; }
.icons-awesome .icon.actions-edit-find-user:before     { content: "\f002"; }
.icons-awesome .icon.actions-edit-copy:before      { content: "\f0c5"; }
.icons-awesome .icon.actions-edit-cut:before       { content: "\f0c4"; }
.icons-awesome .icon.actions-edit-paste:before     { content: "\f0ea"; }
.icons-awesome .icon.actions-edit-delete:before        { content: "\f1f8"; }
.icons-awesome .icon.actions-user-properties:before        { content: "\f2bd"; }
.icons-awesome .icon.actions-user-group-properties:before      { content: "\f0c0"; }
.icons-awesome .icon.actions-user-group-delete:before      { content: "\f1f8"; }
.icons-awesome .icon.actions-mail-send:before      { content: "\f0e0"; }
.icons-awesome .icon.actions-set-access-rights:before      { content: "\f084"; }
.icons-awesome .icon.actions-list-filter:before       { content: "\f0b0"; }
.icons-awesome .icon.actions-list-add:before       { content: "\f067"; }
.icons-awesome .icon.actions-list-add-user:before      { content: "\f234"; }
.icons-awesome .icon.actions-list-remove:before        { content: "\f068"; }
.icons-awesome .icon.actions-list-remove-user:before       { content: "\f235"; }
.icons-awesome .icon.actions-go-home:before        { content: "\f015"; }
.icons-awesome .icon.actions-go-up:before      { content: "\f077"; }
.icons-awesome .icon.actions-go-down:before        { content: "\f078"; }
.icons-awesome .icon.actions-go-first:before       { content: "\f049"; }
.icons-awesome .icon.actions-go-last:before        { content: "\f050"; }
.icons-awesome .icon.actions-go-next:before        { content: "\f051"; }
.icons-awesome .icon.actions-go-previous:before        { content: "\f048"; }
.icons-awesome .icon.actions-arrow-down:before     { content: "\f063"; }
.icons-awesome .icon.actions-arrow-up:before       { content: "\f062"; }
.icons-awesome .icon.actions-arrow-left:before     { content: "\f060"; }
.icons-awesome .icon.actions-arrow-right:before        { content: "\f061"; }
.icons-awesome .icon.actions-arrow-down-double:before      { content: "\f103"; }
.icons-awesome .icon.actions-arrow-up-double:before        { content: "\f102"; }
.icons-awesome .icon.actions-arrow-left-double:before      { content: "\f100"; }
.icons-awesome .icon.actions-arrow-right-double:before     { content: "\f101"; }
.icons-awesome .icon.actions-context-menu:before     { content: "\f141"; }
.icons-awesome .icon.actions-view-list-details:before      { content: "\f022"; }
.icons-awesome .icon.actions-view-list-text:before     { content: "\f03a"; }
.icons-awesome .icon.actions-view-list-tree:before     { content: "\f0e8"; -webkit-transform: rotate(-90deg) translate(2px, -3px); transform: rotate(-90deg) translate(2px, -3px); }
.icons-awesome .icon.actions-view-list-cards:before      { content: "\f009"; }
.icons-awesome .icon.actions-view-calendar-list:before     { content: "\f022"; }
.icons-awesome .icon.actions-view-calendar-day:before      { content: "\f133"; }
.icons-awesome .icon.actions-view-calendar-week:before     { content: "\f133"; }
.icons-awesome .icon.actions-view-calendar-workweek:before     { content: "\f133"; }
.icons-awesome .icon.actions-view-calendar-month:before        { content: "\f073"; }
.icons-awesome .icon.actions-view-calendar-timeline:before     { content: "\f1de"; }
.icons-awesome .icon.actions-view-pim-calendar:before      { content: "\f073"; }
.icons-awesome .icon.actions-view-pim-journal:before       { content: "\f1ea"; }
.icons-awesome .icon.actions-view-pim-mail:before      { content: "\f003"; }
.icons-awesome .icon.actions-view-pim-news:before      { content: "\f1ea"; }
.icons-awesome .icon.actions-view-pim-notes:before     { content: "\f24a"; }
.icons-awesome .icon.actions-view-pim-summary:before       { content: "\f1ea"; }
.icons-awesome .icon.actions-view-pim-tasks:before     { content: "\f0ae"; }
.icons-awesome .icon.actions-view-history:before       { content: "\f1da"; }
.icons-awesome .icon.actions-view-refresh:before       { content: "\f021"; }
.icons-awesome .icon.actions-zoom-in:before        { content: "\f00e"; }
.icons-awesome .icon.actions-zoom-out:before       { content: "\f010"; }
.icons-awesome .icon.actions-zoom-original:before      { content: "\f096"; }
.icons-awesome .icon.actions-zoom-fit-best:before      { content: "\f0b2"; }
.icons-awesome .icon.actions-zoom-fit-width:before     { content: "\f07e"; }
.icons-awesome .icon.actions-zoom-fit-height:before        { content: "\f07d"; }
.icons-awesome .icon.actions-dialog-ok:before      { content: "\f00c"; }
.icons-awesome .icon.actions-dialog-cancel:before      { content: "\f00d"; }
.icons-awesome .icon.actions-archive-create:before     { content: "\f090"; }
.icons-awesome .icon.actions-archive-extract:before        { content: "\f08b"; }
.icons-awesome .icon.actions-authenticate:before       { content: "\f084"; }
.icons-awesome .icon.actions-login:before      { content: "\f090"; }
.icons-awesome .icon.actions-logout:before     { content: "\f08b"; }
.icons-awesome .icon.actions-share:before     { content: "\f1e0"; }
.icons-awesome .icon.actions-comment:before     { content: "\f075"; }

.icons-awesome .icon.apps-calendar:before      { content: "\f073"; }
.icons-awesome .icon.apps-directories:before       { content: "\f02d"; }
.icons-awesome .icon.apps-file-manager:before      { content: "\f07c"; }
.icons-awesome .icon.apps-notes:before     { content: "\f24a"; }
.icons-awesome .icon.apps-statistics:before        { content: "\f200"; }
.icons-awesome .icon.apps-mail:before      { content: "\f003"; }
.icons-awesome .icon.apps-vacations:before     { content: "\f0f2"; }
.icons-awesome .icon.apps-articles:before      { content: "\f1ea"; }
.icons-awesome .icon.apps-forums:before        { content: "\f086"; }
.icons-awesome .icon.apps-orgcharts:before     { content: "\f0e8"; }
.icons-awesome .icon.apps-summary:before       { content: "\f1ea"; }
.icons-awesome .icon.apps-faqs:before      { content: "\f059"; }
.icons-awesome .icon.apps-task-manager:before      { content: "\f0ae"; }
.icons-awesome .icon.apps-approbations:before      { content: "\f0e3"; }
.icons-awesome .icon.apps-contacts:before      { content: "\f0c0"; }
.icons-awesome .icon.apps-thesaurus:before     { content: "\f02d"; }
.icons-awesome .icon.apps-sections:before      { content: "\f0db"; }
.icons-awesome .icon.apps-delegations:before       { content: "\f085"; }
.icons-awesome .icon.apps-calculator:before        { content: "\f1ec"; }
.icons-awesome .icon.apps-editor:before        { content: "\f044"; }
.icons-awesome .icon.apps-photo:before     { content: "\f030"; }
.icons-awesome .icon.apps-users:before     { content: "\f007"; }
.icons-awesome .icon.apps-groups:before        { content: "\f0c0"; }
.icons-awesome .icon.apps-sitemap:before       { content: "\f0e8"; }
.icons-awesome .icon.apps-form:before      { content: "\f046"; }
.icons-awesome .icon.apps-shop:before      { content: "\f07a"; }
.icons-awesome .icon.apps-catalog:before       { content: "\f02d"; }
.icons-awesome .icon.apps-crm:before       { content: "\f1b3"; }
.icons-awesome .icon.apps-multimedia:before        { content: "\f144"; }
.icons-awesome .icon.apps-portlet:before       { content: "\f009"; }
.icons-awesome .icon.apps-preferences-site:before      { content: "\f0ac"; }
.icons-awesome .icon.apps-preferences-user:before      { content: "\f007"; }
.icons-awesome .icon.apps-preferences-authentication:before        { content: "\f084"; }
.icons-awesome .icon.apps-preferences-search-engine:before     { content: "\f002"; }
.icons-awesome .icon.apps-preferences-webservices:before       { content: "\f0e7"; }
.icons-awesome .icon.apps-preferences-date-time-format:before      { content: "\f017"; }
.icons-awesome .icon.apps-preferences-calendar:before      { content: "\f022"; }
.icons-awesome .icon.apps-preferences-mail-server:before       { content: "\f0e0"; }
.icons-awesome .icon.apps-preferences-wysiwyg-editor:before        { content: "\f044"; }
.icons-awesome .icon.apps-preferences-upload:before        { content: "\f093"; }
.icons-awesome .icon.apps-facebook:before      { content: "\f082"; }
.icons-awesome .icon.apps-flickr:before        { content: "\f16e"; }
.icons-awesome .icon.apps-twitter:before       { content: "\f099"; }
.icons-awesome .icon.apps-rss:before       { content: "\f143"; }
.icons-awesome .icon.apps-viadeo:before       { content: "\f2a9"; }
.icons-awesome .icon.apps-linkedin:before       { content: "\f0e1"; }
.icons-awesome .icon.apps-pinterest:before       { content: "\f231"; }
.icons-awesome .icon.apps-googleplus:before       { content: "\f0d5"; }

.icons-awesome .icon.mimetypes-application-pdf:before      { content: "\f1c1"; color: #a00; opacity:0.5 }
.icons-awesome .icon.mimetypes-audio-x-generic:before      { content: "\f1c7"; color: #555; opacity:0.5 }
.icons-awesome .icon.mimetypes-text-x-generic:before       { content: "\f0f6"; color: #555; opacity:0.5 }
.icons-awesome .icon.mimetypes-image-x-generic:before      { content: "\f1c5"; color: #555; opacity:0.5 }
.icons-awesome .icon.mimetypes-video-x-generic:before      { content: "\f1c8"; color: #555; opacity:0.5 }
.icons-awesome .icon.mimetypes-package-x-generic:before        { content: "\f1c6"; color: #770; opacity:0.5 }
.icons-awesome .icon.mimetypes-text-html:before        { content: "\f1c9"; color: #555; opacity:0.5 }
.icons-awesome .icon.mimetypes-unknown:before      { content: "\f016"; color: #555; opacity:0.5 }
.icons-awesome .icon.mimetypes-signature:before        { content: "\f044"; color: #555; opacity:0.5 }
.icons-awesome .icon.mimetypes-x-office-document:before        { content: "\f1c2"; color: #00c; opacity:0.5 }
.icons-awesome .icon.mimetypes-x-office-presentation:before        { content: "\f1c4"; color: #a50; opacity:0.5 }
.icons-awesome .icon.mimetypes-x-office-spreadsheet:before     { content: "\f1c3"; color: #090; opacity:0.5 }

.icons-awesome .icon.objects-user:before       { content: "\f007"; }
.icons-awesome .icon.objects-group:before      { content: "\f0c0"; }
.icons-awesome .icon.objects-manager:before      { content: "\f27e"; }
.icons-awesome .icon.objects-publication-article:before        { content: "\f1ea"; }
.icons-awesome .icon.objects-publication-topic:before      { content: "\f02e"; }
.icons-awesome .icon.objects-publication-category:before       { content: "\f097"; }
.icons-awesome .icon.objects-invoice:before        { content: "\f15c"; }
.icons-awesome .icon.objects-contract:before       { content: "\f0b1"; }
.icons-awesome .icon.objects-contact:before        { content: "\f007"; }
.icons-awesome .icon.objects-organization:before       { content: "\f1ad"; }
.icons-awesome .icon.objects-tag:before        { content: "\f02b"; }
.icons-awesome .icon.objects-note:before       { content: "\f24a"; }
.icons-awesome .icon.objects-email:before      { content: "\f1fa"; }
.icons-awesome .icon.objects-shopping-cart:before      { content: "\f07a"; }
.icons-awesome .icon.objects-product:before        { content: "\f187"; }
.icons-awesome .icon.objects-product-category:before       { content: "\f097"; }
.icons-awesome .icon.objects-resource:before       { content: "\f1b2"; }
.icons-awesome .icon.objects-resource-category:before      { content: "\f009"; }
.icons-awesome .icon.objects-waiting-item:before       { content: "\f017"; }
.icons-awesome .icon.objects-factory:before       { content: "\f275"; }
.icons-awesome .icon.objects-phone:before       { content: "\f095"; }
.icons-awesome .icon.objects-mobile:before       { content: "\f10b"; }
.icons-awesome .icon.objects-map-marker:before       { content: "\f041"; }
.icons-awesome .icon.objects-address-book:before       { content: "\f2ba"; }
.icons-awesome .icon.objects-book:before       { content: "\f02d"; }
.icons-awesome .icon.objects-laptop:before       { content: "\f109"; }
.icons-awesome .icon.objects-desktop:before       { content: "\f108"; }

.icons-awesome .icon.places-folder:before      { content: "\f114"; color: #05a; opacity:0.5 }
.icons-awesome .icon.places-folder-red:before      { content: "\f07b"; color: #a00; opacity:0.5 }
.icons-awesome .icon.places-folder-bookmarks:before        { content: "\f02e"; }
.icons-awesome .icon.places-user-home:before       { content: "\f015"; }
.icons-awesome .icon.places-user-trash:before      { content: "\f1f8"; color: #555; opacity:0.5 }
.icons-awesome .icon.places-user-applications:before       { content: "\f135"; }
.icons-awesome .icon.places-administrator-home:before      { content: "\f015"; }
.icons-awesome .icon.places-administrator-applications:before      { content: "\f0ad"; }
.icons-awesome .icon.places-mail-folder-inbox:before       { content: "\f01c"; }

.icons-awesome .icon.categories-applications-education:before      { content: "\f19d"; }
.icons-awesome .icon.categories-preferences-desktop:before     { content: "\f108"; }
.icons-awesome .icon.categories-preferences-other:before       { content: "\f0ad"; }

.icons-awesome .icon.status-dialog-error:before        { content: "\f057"; }
.icons-awesome .icon.status-dialog-information:before      { content: "\f129"; }
.icons-awesome .icon.status-dialog-password:before     { content: "\f084"; }
.icons-awesome .icon.status-dialog-question:before     { content: "\f059"; }
.icons-awesome .icon.status-dialog-warning:before      { content: "\f071"; }
.icons-awesome .icon.status-content-loading:before     { content: "\f021"; -webkit-animation: icon-spin 2s infinite linear; animation: 2s linear 0s normal none infinite icon-spin; text-align: center; }

